**/bin
**/obj
**/.vs
**/.git
services/**
!services/neurovox_ai/app.py
!services/neurovox_ai/turkish_nlp.py
!services/neurovox_ai/stats.py
!services/neurovox_pipeline/train.py
data
**/appsettings.json
**/appsettings.*.json
!**/appsettings.Example.json
**/.env
**/logs
artifacts
frontend
